.row
  - @galleries.each do |gallery|
    .col-md-4
      .thumbnail
        .image.gallery
          = link_to image_tag(gallery.image_url(:medium), alt: gallery.name, title: gallery.description), gallery_path(gallery)
        .caption
          = link_to gallery.name, gallery_path(gallery)

