%h1= @gallery.name
.row
  - @images.each do |image|
    .col-md-3
      .thumbnail
        .image.gallery-image
          = link_to image_tag(image.image_url(:medium), alt: image.alt, title: image.description), image.image_url
        .caption
          = image.name
= link_to "<- Back to gallery list", galleries_path, class: 'btn btn-default'
